@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .black-btn {
        @apply rounded-btn border border-black bg-black px-5 py-3 font-semibold text-white hover:opacity-70 duration-300;
    }

    .white-btn {
        @apply rounded-btn border border-black px-5 py-3 font-semibold duration-300 hover:bg-black hover:text-white hover:opacity-70;
    }

    .brand-style {
        @apply inline-block m-5 
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

#nav-bar {
    color: black;
}