@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .black-btn {
        @apply inline-block rounded-btn border border-black bg-black px-5 py-3 font-semibold text-white duration-300 hover:opacity-70;
    }

    .white-btn {
        @apply inline-block rounded-btn border border-black px-5 py-3 font-semibold duration-300 hover:bg-black hover:text-white hover:opacity-70;
    }

    .red-btn {
        @apply inline-block text-white rounded-btn border border-black px-5 py-3 font-semibold duration-300 hover:bg-red-400 hover:text-black ;
    }

    .brand-style {
        @apply sml:w-fit m-5 flex w-full items-center justify-center;
    }

    .main-heading {
        @apply mdl:w-[820px] pb-10 pt-20 text-3xl font-semibold tracking-tighter md:text-6xl;
    }

    .sub-heading {
        @apply text-xl font-semibold md:text-3xl;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 100vw; */
    width: 100%;
}

#nav-bar {
    color: black;
}

.custom-select {
    @apply appearance-none bg-white bg-no-repeat pr-8;
    /* Hide default arrow and add padding */
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/></svg>');
    /* Custom arrow icon */
    background-position: right 0.75rem center;
    /* Position the custom arrow */
    background-size: 1rem;
    /* Size of the custom arrow */
}